.icon__table {
    cursor: pointer;
}
.icon__table:hover {
    background-color: rgb(228, 223, 223);
    border-radius: 100%;
}

.fontsize40 {
    font-size: 60px !important;
}

.btn__add {
    border-radius: 100%;
}
.btn__add {
    width: 60px;
    height: 60px;
    position: absolute;
    margin-top: 10px;
    margin-left: -100px;
    border-radius: 100%;
    cursor: pointer;
    color: white;
    background-color: rgb(10, 96, 167);
}

.btn__add:hover {
    background-color: rgb(10, 75, 128);
    size: 110%;
}
